* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", Tahoma, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  background-color: #ffffff;
  color: #000000;
  margin: 0px;
  padding: 0px;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 40px;
  color: #ffffff;
}

h3 {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 20px;
  font-weight: bold;
}


hr { border: none; height: 1px; background-color: #808080; margin: 5px 0; }
hr.p-after { margin-bottom: 1.1em; }

header {
  text-align: center;
  padding-top: 19px;
  height: 90px;
  background: url(images/top1.png) repeat-x;
}

.mast {
  font-size: 18px;
}

#mainbody {
  margin: 20px;
}



p {
  margin: 0 0 20px 0;
  padding: 0;
}

form {
  padding: 0px;
  margin: 0px;
}

label {
  display: block;
}

input, textarea {
  font-size: 100%;
}

#url {
  width: 100%;
}

input[type="text"], textarea, iframe {
  border: 1px solid #aaa;
  padding: 3px;
}

textarea {
  width: 100%;
  height: 100px;
}

iframe {
  width: 100%;
  height: 400px;
}

table {
  border-collapse: collapse;
  width: 800px;
  margin-bottom: 20px;
}

table, tr, td {
  border: none;
}

td {
  padding: 0.5em 0.3em;
  vertical-align: top;
  border-bottom: 1px dotted #808080;
}

table td.l {
  width: 12em;
  text-align: right;
}

input.text { width: 30em; }
input.num { width: 3em; }

.results td {
  display: none;
}

.advanced td {
  display: none;
}

body.show-advanced .advanced td {
  display: table-cell;
} 

body.submitted .results td {
  display: table-cell;
}

.actions {
  text-align: right;
}

input[type="button"], input[type="submit"] {
  display: inline-block;
  margin: 0;
  padding: 6px 12px;
  border-radius: 4px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;
}

input[type="button"] {
  color: #ffffff;
  background-color: #31b0d5;
  border: 1px solid #269abc;
}

input[type="submit"] {
  color: #ffffff;
  background-color: #5cb85c;
  border: 1px solid #4cae4c;
}

#showopt {
  margin-right: 10px;
}

.footer { background-color: #ffffaa; padding: 3px; }
